@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
   width: 0em;
}

::-webkit-scrollbar-thumb {
   background: none;
}

::-webkit-scrollbar-track {
   background: transparent;
}

@layer base {
   a {
      @apply text-richElectricBlue underline;
   }
}

@layer components {
   .circle {
      @apply absolute w-[385.321px] h-[385.321px] rounded-full;
      background: rgba(255, 255, 255, 0.30);
      box-shadow: 0px 15.413px 15.413px 0px rgba(0, 0, 0, 0.25);
   }

   .content-layout {
      width: 100%;
      width: calc(100% - 250px);
   }

   .settings-content-layout {
      width: 100%;
      width: calc(100% - 200px);
   }

   .content {
      height: calc(100vh - 80px);
   }

   .hover-bg-shadow {
      @apply transition-all duration-300 ease-in-out hover:bg-chineseWhite hover:bg-opacity-30 hover:shadow-md dark:hover:bg-chineseWhite dark:hover:bg-opacity-30 dark:hover:shadow-md-dark;
   }

   .hover-shadow {
      @apply transition-transform duration-300 ease-in-out hover:-translate-y-[2px] hover:shadow-md dark:hover:shadow-md-dark;
   }

   .hover-shadow-body {
      @apply transition-transform duration-300 ease-in-out hover:-translate-y-[2px] hover:shadow-lg dark:hover:shadow-lg-dark;
   }

   .calc-width-two {
      width: calc(100% / 2.12);
   }

   .calc-width-three {
      width: calc(100% / 3.12);
   }

   .calc-width-four {
      width: calc(100% / 4.23);
   }

   .pending-text {
      @apply text-sm text-mutedGray dark:text-chineseWhite italic;
   }

   .pending {
      @apply text-bostonRed border border-bostonRed dark:text-red-500 dark:border-red-500;
      background: rgba(195, 0, 0, 0.05);
   }

   .paid {
      @apply text-richElectricBlue border border-richElectricBlue dark:text-blue-500 dark:border-blue-500;
      background: rgba(0, 0, 195, 0.05);
   }

   .completed {
      border: 1px solid #29CE9C;
      color: #29CE9C;
      background: rgba(41, 206, 156, 0.05);
   }

   @media screen and (min-width: 1024px) {
      .content-layout {
         width: 100%;
         width: calc(100% - 300px);
      }
   }

   @media screen and (min-width: 768px) {
      .content-layout {
         width: 100%;
         width: calc(100% - 250px);
      }
   }

   @media screen and (min-width: 576px) {
      .content-layout {
         width: 100%;
         width: calc(100% - 0px);
      }
   }
}