@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
   width: 0em;
}

::-webkit-scrollbar-thumb {
   background: none;
}

::-webkit-scrollbar-track {
   background: transparent;
}

@layer components {
   .ellipses {
      @apply absolute w-[340px] h-[340px] rounded-[340px] z-[-1];
      background: rgba(0, 201, 141, 0.50);
      filter: blur(190px);
   }

   .main-content {
      @apply h-fit overflow-hidden;
      width: calc(100% - 300px);
   }

   .content-body {
      height: calc(100vh - 80px);
   }

   .circle {
      @apply absolute w-[385.321px] h-[385.321px] rounded-full;
      background: rgba(255, 255, 255, 0.30);
      box-shadow: 0px 15.413px 15.413px 0px rgba(0, 0, 0, 0.25);
   }
}